.only-sm {
  display: none;
}

@media screen and (max-width: 770px) {
  .only-sm {
    display: table-cell;
  }

  .ingredient-table tr th:nth-child(3),
  .ingredient-table th:nth-child(4),
  .ingredient-table th:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 421px) {
  .ingredient-table tr th:nth-child(6) {
    display: none;
  }
}
