.muted-weight-input {
  width: 60px;
  height: 30px;
  border: 2px solid #666;
  border-radius: 5px;
}

#edit-weight-input {
  width: 60px;
}

.recipe-item-btns {
  height: 25px;
}

.recipe-item-btns:hover {
  color: #dc4c64;
}
