.only-xsm {
  display: none;
}

@media screen and (max-width: 575px) {
  .ingredient-review-table td:nth-child(2),
  .ingredient-review-table td:nth-child(3),
  .ingredient-review-table td:nth-child(4) {
    display: none;
  }
  .xs-header {
    display: table-cell;
  }
  .only-xsm {
    display: block;
  }
}
