.only-sm,
#ingredient-xs-btn {
  display: none;
}

@media screen and (max-width: 770px) {
  .only-sm {
    display: table-cell;
  }

  .ingredient-display td:nth-child(3),
  .ingredient-display td:nth-child(4),
  .ingredient-display td:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 421px) {
  .form-unit {
    margin-top: 22px;
  }

  tr td:nth-child(6) {
    display: none;
  }

  #ingredient-xs-btn {
    display: flex;
  }
}
