.food-table {
  background-color: var(--site-black);
}

.food-input-boxes {
  background-color: var(--site-black);
  height: 30px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.food-input-boxes::placeholder {
  color: #ccc;
}

#edit-cal-input {
  width: 80px;
  background-color: #14a44d;
  border-radius: 20px;
}

#edit-servings-input {
  width: 60px;
}

#edit-protein-input,
#edit-carbs-input,
#edit-fat-input {
  width: 33px;
}

.food-info {
  height: 20px;
}

.food-info:hover {
  color: #3b71ca;
}

.cal-pill {
  width: 80px;
  height: 30px;
}

.food-icons {
  height: 25px;
}

.food-icons:hover {
  color: #dc4c64;
}

.delete-btn-container {
  border: 2px solid white;
  border-radius: 5px;
  width: 100px;
}

.delete-btns {
  height: 30px;
  margin-top: -15px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
}

.delete-btn-container .cancel {
  color: #dc4c64;
}

.delete-btn-container .confirm {
  color: #14a44d;
  margin-left: 10px;
}

#food-log-btns .active-btn {
  color: #dc4c64;
}

#food-display .only-xxs {
  display: none;
}

@media screen and (max-width: 991px) {
  #food-delete-icon {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  #food-display td:nth-child(4),
  #food-display td:nth-child(5) {
    display: none;
  }

  #food-log-btns {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 522px) {
  #food-display td:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 421px) {
  #food-display td:nth-child(6) {
    display: none;
  }

  #food-display .only-xxs {
    display: block;
  }
}
