.form-card {
  /* background-color: white; */
  /* border: 2px solid black; */
  border-radius: 2px;
  padding: 5px;
  display: none;
  height: 300px;
  position: relative;
}

.form-card.active {
  display: block;
}

.recipe-form {
  background-color: var(--site-black);
}

.recipe-form button {
  min-width: 100px;
  display: flex;
  justify-content: center;
}

/* .recipe-form-category {
  margin-left: 10px;
} */

.recipe-form-btns .next {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}

.recipe-form-btns .previous {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
}
