.recipe-form {
  background-color: var(--site-black);
  height: 100vh;
}

.form-card {
  display: none;
  min-height: 300px;
  position: relative;
}

.form-card.active {
  display: block;
}

.recipe-form button {
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.recipe-form-btns .next {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}

.recipe-form-btns .previous {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
}

#recipe-form-grey {
  background-color: var(--site-grey);
}
