.login-container {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;

  border-bottom: 5px solid black;
  border-left: 5px solid black;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 10;
}

.login-container label {
  text-align: start;
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

.login-container input {
  margin-bottom: 10px;
}
