.progress-container {
  height: 100px;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--site-lightgrey);
}

.progress-circle {
  height: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pie {
  width: 150px;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
}

.pie-center {
  width: 180px;
  height: 180px;
  position: absolute;
  rotate: 270deg;
  background: conic-gradient(var(--site-black) 120deg, var(--site-yellow) 0deg);
  border-radius: 50%;
  border: 10px solid var(--site-lightgrey);
  z-index: 2;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  rotate: 270deg;
  background: conic-gradient(var(--site-black) 120deg, #0000 0);
}

.macro-percents {
  background-color: var(--site-lightgrey);
  max-width: 260px;
  margin-left: 0px;
}

.macro-percents .percent-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14;
  height: 100%;
  text-align: left;
  width: 80px;
}

.macro-percents .cal {
  background-color: var(--site-yellow);
  color: white;
}

.macro-percents .protein {
  background-color: var(--site-olivegreen);
  color: white;
}

.macro-percents .carbs {
  background-color: var(--site-oceanblue);
  color: white;
}

.macro-percents .fat {
  background-color: var(--site-greyblue);
  color: white;
}
